<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="over">
      <h3>Toolbox</h3>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Basic Elements
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-action-list>
                    <button mat-list-item (click)="addElement(e.instance)" *ngFor="let e of _basicElements">
                        {{e.displayName}}
                    </button>
                </mat-action-list>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Layout
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <form class="layout-container">
                    <mat-form-field color="accent">
                        <input #layoutcols matInput type="number" placeholder="Colum count" formControlName="cols"
                            value="12" min="1" max="30">
                    </mat-form-field>
                </form>
                <button (click)="addTile()" mat-raised-button>Add Tile</button>  
                <button (click)="deletetTile()" mat-raised-button>Delete Tile</button>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-grid-list [cols]="layoutcols.value" rowHeight="2:1">
            <mat-grid-tile *ngFor="let tile of _tiles" [colspan]="tile.cols" [rowspan]="tile.rows"
                [style.background]="tile.color">
                <app-dynamic-tile (click)="configureTile(tile.index)" [content]="tile.content"></app-dynamic-tile>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-sidenav-content>
</mat-sidenav-container>